In [2]:
import h2o
h2o.init(strict_version_check = False)

ERROR:h2o:Key init.version_check is not a valid config key

Checking whether there is an H2O instance running at http://localhost:54321. connected.

--------------------------  ------------------------------------
H2O cluster uptime:         16 hours 13 mins
H2O cluster version:        3.10.5.3
H2O cluster version age:    11 days
H2O cluster name:           H2O_from_python_avkashchauhan_2m13v0
H2O cluster total nodes:    1
H2O cluster free memory:    6.748 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
H2O internal security:      False
Python version:             3.6.1 final
--------------------------  ------------------------------------

In [3]:
prostate = "https://raw.github.com/h2oai/h2o/master/smalldata/logreg/prostate.csv"

In [4]:
prostate_df = h2o.import_file(path=prostate)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [5]:
prostate_df

ID,CAPSULE,AGE,RACE,DPROS,DCAPS,PSA,VOL,GLEASON
1,0,65,1,2,1,1.4,0,6
2,0,72,1,3,2,6.7,0,7
3,0,70,1,1,2,4.9,0,6
4,0,76,2,2,1,51.2,20,7
5,0,69,1,1,1,12.3,55.9,6
6,1,71,1,3,2,3.3,0,8
7,0,68,2,4,2,31.9,0,7
8,0,61,2,4,2,66.7,27.2,7
9,0,69,1,1,1,3.9,24,7
10,0,68,2,1,2,13,0,6

In [6]:
prostate_df.shape

(380, 9)

In [7]:
airline = "/Users/avkashchauhan/src/github.com/h2oai/h2o-3/smalldata/airlines/allyears2k.csv"

In [8]:
airline_df = h2o.import_file(path=airline)

H2OResponseError: Server error water.exceptions.H2ONotFoundArgumentException:
  Error: File /Users/avkashchauhan/src/github.com/h2oai/h2o-3/smalldata/airlines/allyears2k.csv does not exist
  Request: GET /3/ImportFiles
    params: {'path': '/Users/avkashchauhan/src/github.com/h2oai/h2o-3/smalldata/airlines/allyears2k.csv'}

In [ ]:
airline_df

In [ ]:
airline_df.shape

In [ ]:
airline_df.describe()

In [ ]:
airline_df.shape

# Data Frames in H2O FLOW
Add this point if you will see H2O data frames list and you will see the following 2 frames

Command: getFrames

[Frame Name        Rows  Cols  Size]

allyears2k.hex    43978	31	2MB
		
prostate.hex      380	9	5KB

In [ ]:
titanic = "/Users/avkashchauhan/src/github.com/h2oai/h2o-3/smalldata/gbm_test/titanic.csv"

In [ ]:
titanic_df = h2o.upload_file(titanic)

In [ ]:
titanic_df

In [ ]:
titanic_df.show

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.tail()

In [ ]:
titanic_df.ncol

In [ ]:
titanic_df.nrow

In [ ]:
titanic_df.head()

In [ ]:
titanic_df.head(1)

In [ ]:
titanic_df.head(1,6)

In [ ]:
titanic_df.head(2,6)

In [ ]:
titanic_df.head(5,20) # 1,1 | 1,10 | 5,10 | 5, airline_df.ncol |

# Data Frames in H2O FLOW
Add this point if you will see H2O data frames list and you will see the following 3 frames

Command: getFrames

allyears2k.hex 43978 31 2MB

prostate.hex 380 9 5KB

Key_Frame__upload_b34573442d4bb7de676d72ce9d6e41f3.hex      1309	14	121KB

In [ ]:
my_titanic_df = h2o.upload_file(titanic, destination_frame = "my_titanic.hex")

# Data frames in H2O FLOW
Add this point if you will see H2O data frames list and you will see the following 4 frames

Command: getFrames

allyears2k.hex 43978 31 2MB

prostate.hex 380 9 5KB

Key_Frame__upload_b34573442d4bb7de676d72ce9d6e41f3.hex 1309 14 121KB

my_titanic.hex      1309	14	121KB

In [ ]:
# List Column Names
prostate_df.col_names

# Slicing rows by Index

In [ ]:
# Slicing rows by Index

# Getting 10th row based on index starts from 0
prostate_df[9,:]

In [ ]:
# Slicing rows by Index

# Getting selected rows based on index starts from 0
prostate_df[range(9,15),:]

In [ ]:
#filter data based on some value
prostate_df["AGE"] > 70

In [ ]:
# Slicing based on boolean values [1]

mask = prostate_df['PSA'] < 20.0
mask

In [ ]:
# Slicing based on boolean values [2]

mask_cols = prostate_df[mask,:]
mask_cols

In [ ]:
# Slicing based on boolean values [3]

mask_cols = prostate_df[~mask,:]
mask_cols

In [ ]:
# Slicing based on boolean values [4.1]

airline_df_mask = airline_df['C5'].isna()
airline_df_na = airline_df[airline_df_mask,:]
print(airline_df.shape)
print(airline_df_na.shape)
airline_df_na

In [ ]:
# Slicing based on boolean values [4.2]

airline_df_mask = airline_df['C5'].isna()
airline_df_na = airline_df[~airline_df_mask,:]
print(airline_df.shape)
print(airline_df_na.shape)
airline_df_na

In [ ]:
# Slicing Columns [1]

# Column by id
airline_df[:,1] # try 0 , 1 or other

In [ ]:
# Slicing Columns [2]

# Column by name
airline_df[:,'C11'] # try C1, C4 , C11 or other

In [ ]:
# Slicing Columns [3]

# Column by names
airline_df[:,['C11', 'C1']] # try ['C1', 'C11'] |

In [ ]:
# Slicing Columns [4]

# Column by range
airline_df[:,range(5)] # try range(2,9) | range(5,9) | range(9,2) - Error

In [ ]:
# Getting value at speific cell [1]

#airline_df[0,0] # Value at row 0 and column 0
airline_df[10,12]  # Value at row 10 and column 20

In [ ]:
airline_df

In [ ]:
# Getting value at speific cell [2]
print(airline_df.shape)
airline_df[10,30]  # Value at row 10 and column 30

In [ ]:
# Getting value at speific cell [1]

print(airline_df[10,12])  # Value at row 10 and column 20

In [ ]:
# Replacing value at speific cell [1]

print(airline_df[10,12])  # Value at row 10 and column 20 
print(airline_df[10,12]+19)  # Value at row 10 and column 20 
print(airline_df[10,12]*12)  # Value at row 10 and column 20 
print(airline_df[10,12]*airline_df[0,3])  # Value at row 10 and column 20

In [ ]:
# Replacing Values in the Frame [1]

# Multipying values into specific column
# airline_df['C2']
airline_df['C2']*9

In [ ]:
# Replacing NA values in the Frame for a column

# Multipying values into specific column
print(airline_df.shape)
print(airline_df['C7'].shape)
print(airline_df['C7'].isna().shape)
mask_c7_na = airline_df['C7'].isna()
airline_df_c7_na = airline_df[~mask_c7_na,:]
print(airline_df_c7_na.shape)
print "There are 1195 missing values"
print "setting all NA to 0"
airline_df[airline_df["C7"].isna(), "C7"] = 0
print "now checking the count of NA"
print(airline_df['C7'].shape)
print(airline_df['C7'].isna().shape)

# Splitting Data sets

In [ ]:
# Splitting Data sets [1]

# Estimate the size of dataframe
airline_df.shape

In [ ]:
# Splitting Data sets [1]

# Spliting frame into 3 sets - train, valid and test
train1,test1,valid1 = airline_df.split_frame(ratios=[0.8,0.1])
print(train1.shape)
print(test1.shape)
print(valid1.shape)

In [ ]:
# Spliting frame into 2 sets - train and test

# ERROR BELOW
print(airline_df.shape)
train2,test2 = airline_df.split_frame(ratios=[0.75])
print(train2.shape)
print(test2.shape)

# Combining two datasets  - Adding Rows

In [ ]:
# Previously we create train1 and test1
# lets combine them
print(train1.shape)
print(test1.shape)

newdf = train1.rbind(test1)
print(newdf.shape)
newdf.describe

# Combining two datasets - Adding Columns

In [ ]:
%matplotlib inline 
airline_df['C4'].hist(10,True)

In [ ]:
# We are working on full dataframe

print(airline_df.shape)
print(airline_df[airline_df["C4"] >= 4].shape)
print(airline_df[airline_df["C4"] < 4].shape)
airline_df_C4_high = airline_df[airline_df["C4"] >= 4]
airline_df_C4_low = airline_df[airline_df["C4"] < 4]

In [ ]:
# lets work only on the specific column
airline_c4 = airline_df["C4"]
airline_c4.shape

In [ ]:
len(airline_df.columns)
airline_df.columns

In [ ]:
airline_c4['C32'] = (airline_c4["C4"] >= 4)

In [ ]:
print(airline_c4['C32'].shape)
airline_c4['C32']

In [ ]:
airline_df = airline_df.cbind(airline_c4['C32'])

In [ ]:
airline_df

In [ ]:
airline_df.columns

In [ ]:
# Lets verify C32 columns
airline_df

# Using Functions on frames and columns

In [ ]:
airline_df['C4'].min()

In [ ]:
airline_df['C4'].max()

In [ ]:
print(airline_df['C4'].nacnt())
print(airline_df['C20'].nacnt())

In [ ]:
# total number of categorical elements in the column 
print(airline_df['C18'].nlevels())
print(airline_df['C18'].unique().shape)
airline_df['C18'].unique()

# Documentation help

List of funstions applied on H2OFrame
http://docs.h2o.ai/h2o/latest-stable/h2o-py/docs/frame.html

In [ ]:
h2o.ls()