In [ ]:
import tensorflow
#import deeputil

from deeputil.model import ModelsMaster

In [ ]:
from deeputil.modelassist import Classify
from matplotlib import pyplot as plt

In [ ]:
img_path = "/Users/avkashchauhan/learn/deepwater/dog-bw.jpg"

In [ ]:
Classify.perform_image_classification_by_network(img_path, "VGG19")

In [1]:
import h2o
h2o.init()

ERROR:h2o:Key init.version_check is not a valid config key

Checking whether there is an H2O instance running at http://localhost:54321. connected.

--------------------------  ----------------------------------------
H2O cluster uptime:         8 days 22 hours 47 mins
H2O cluster version:        3.14.0.1
H2O cluster version age:    12 days
H2O cluster name:           H2O_from_python_avkashchauhan_x3crdh
H2O cluster total nodes:    1
H2O cluster free memory:    2.076 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.6.1 final
--------------------------  ----------------------------------------

In [ ]:
df = h2o.import_file("/Users/avkashchauhan/Downloads/originalPOLevelFrame.csv")

In [ ]:
df.describe()

In [ ]:
df['HHLD_ID'].shape

In [ ]:
len(df['HHLD_ID'].unique())

In [ ]:
x = df.group_by(by=['HHLD_ID'])
y = x.sum(col="HOH_AGE_NBR",na="all").get_frame()

In [ ]:
len(y)

In [ ]:
y

In [ ]:
df_real = df

In [ ]:
df_real['HHLD_ID'] = df_real['HHLD_ID']/10

In [ ]:
df_real.describe()

In [ ]:
x = df_real.group_by(by=['HHLD_ID'])
y_real = x.sum(col="HOH_AGE_NBR",na="all").get_frame()

In [ ]:
y_real

In [ ]:
len(y_real)

In [2]:
df = h2o.import_file("/Users/avkashchauhan/learn/customers/mojo-cpp/prostate.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
df

ID,CAPSULE,AGE,RACE,DPROS,DCAPS,PSA,VOL,GLEASON
1,0,65,1,2,1,1.4,0,6
2,0,72,1,3,2,6.7,0,7
3,0,70,1,1,2,4.9,0,6
4,0,76,2,2,1,51.2,20,7
5,0,69,1,1,1,12.3,55.9,6
6,1,71,1,3,2,3.3,0,8
7,0,68,2,4,2,31.9,0,7
8,0,61,2,4,2,66.7,27.2,7
9,0,69,1,1,1,3.9,24,7
10,0,68,2,1,2,13,0,6

In [5]:
x = df.group_by(by=['GLEASON'])

In [6]:
y = x.sum(col="DCAPS",na="all").get_frame()

In [16]:
print(df['GLEASON'].unique().shape)
df['GLEASON'].unique()

(7, 1)

C1
8
0
6
9
7
4
5

In [8]:
y.shape

(7, 2)

In [9]:
y

GLEASON,sum_DCAPS
0,2
4,1
5,67
6,147
7,146
8,40
9,18