In [1]:
import h2o
h2o.connect()

Connecting to H2O server at http://localhost:54321... successful.

--------------------------  ----------------------
H2O cluster uptime:         37 mins 43 secs
H2O cluster version:        3.11.0.99999
H2O cluster version age:    1 day
H2O cluster name:           avkashchauhan
H2O cluster total nodes:    1
H2O cluster free memory:    3.271 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         locked, healthy
H2O connection url:         http://localhost:54321
H2O connection proxy:
Python version:             2.7.10 final
--------------------------  ----------------------

In [2]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv('/Users/avkashchauhan/learn/seattle-workshop/titanic_list.csv')

In [4]:
titanic_df.shape

(1310, 14)

In [6]:
titanic_df.count()

pclass       1309
survived     1309
name         1309
sex          1309
age          1046
sibsp        1309
parch        1309
ticket       1309
fare         1308
cabin         295
embarked     1307
boat          486
body          121
home.dest     745
dtype: int64

In [7]:
# Converting Pandas Frame to H2O Frame
titanic = h2o.H2OFrame(titanic_df)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [8]:
titanic

pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.338,B5,S,2,nan,"St Louis, MO"
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,nan,"Montreal, PQ / Chesterville, ON"
1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,nan,nan,"Montreal, PQ / Chesterville, ON"
1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,nan,135,"Montreal, PQ / Chesterville, ON"
1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,nan,nan,"Montreal, PQ / Chesterville, ON"
1,1,"Anderson, Mr. Harry",male,48,0,0,19952,26.55,E12,S,3,nan,"New York, NY"
1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,10,nan,"Hudson, NY"
1,0,"Andrews, Mr. Thomas Jr",male,39,0,0,112050,0,A36,S,nan,nan,"Belfast, NI"
1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,D,nan,"Bayside, Queens, NY"
1,0,"Artagaveytia, Mr. Ramon",male,71,0,0,nan,49.5042,nan,C,nan,22,"Montevideo, Uruguay"

In [9]:
# Note: You will see that the following command will not work
# Because it is a H2OFrame
titanic.count()

AttributeError: 'H2OFrame' object has no attribute 'count'

In [10]:
# The Other option to import data directly is to use H2O.
titanic_data = h2o.import_file('/Users/avkashchauhan/learn/seattle-workshop/titanic_list.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [11]:
titanic_data.shape

(1310, 14)

In [13]:
# Loading Estimators
from h2o.estimators.glm import H2OGeneralizedLinearEstimator

In [14]:
# set this to True if interactive (matplotlib) plots are desired
import matplotlib
interactive = False
if not interactive: matplotlib.use('Agg', warn=False)
import matplotlib.pyplot as plt

In [15]:
titanic_data.describe()

Rows:1310
Cols:14

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
type,int,int,string,enum,real,int,int,int,real,enum,enum,int,int,enum
mins,1.0,0.0,NaN,,0.1667,0.0,0.0,680.0,0.0,,,1.0,1.0,
mean,2.294881589,0.381970970206,NaN,,29.8811345124,0.498854087089,0.385026737968,249039.136886,33.2954792813,,,9.40452261307,160.809917355,
maxs,3.0,1.0,NaN,,80.0,8.0,9.0,3101298.0,512.3292,,,16.0,328.0,
sigma,0.83783601897,0.486055170866,NaN,,14.4134996999,1.0416583906,0.86556027535,442685.317677,51.7586682392,,,4.3574169836,97.696921996,
zeros,0,809,0,,0,891,1002,0,17,,,0,0,
missing,1,1,1,1,264,1,1,353,2,1015,3,912,1189,565
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0,0.0,0.0,24160.0,211.3375,B5,S,2.0,nan,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781.0,151.55,C22 C26,S,11.0,nan,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0,1.0,2.0,113781.0,151.55,C22 C26,S,nan,nan,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781.0,151.55,C22 C26,S,nan,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1.0,2.0,113781.0,151.55,C22 C26,S,nan,nan,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0,0.0,0.0,19952.0,26.55,E12,S,3.0,nan,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0,1.0,0.0,13502.0,77.9583,D7,S,10.0,nan,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0,0.0,0.0,112050.0,0.0,A36,S,nan,nan,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2.0,0.0,11769.0,51.4792,C101,S,nan,nan,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,nan,49.5042,,C,nan,22.0,"Montevideo, Uruguay"

In [16]:
titanic_data.col_names

[u'pclass',
 u'survived',
 u'name',
 u'sex',
 u'age',
 u'sibsp',
 u'parch',
 u'ticket',
 u'fare',
 u'cabin',
 u'embarked',
 u'boat',
 u'body',
 u'home.dest']

In [17]:
response = "survived"

In [18]:
# Selected Columns
# pclass, survived, sex, age, sibsp, parch, fare, embarked 
#

predictors = ["pclass", "sex", "age", "sibsp", "parch", "fare", "embarked"]
# predictors = titanic_data.columns[:-1]

In [19]:
predictors

['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']

In [20]:
#Now setting factors to specific columns
titanic_data["pclass"] = titanic_data["pclass"].asfactor()
titanic_data["sex"] = titanic_data["sex"].asfactor()
titanic_data["embarked"] = titanic_data["embarked"].asfactor()

In [21]:
titanic_data.describe()

Rows:1310
Cols:14

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
type,enum,int,string,enum,real,int,int,int,real,enum,enum,int,int,enum
mins,,0.0,NaN,,0.1667,0.0,0.0,680.0,0.0,,,1.0,1.0,
mean,,0.381970970206,NaN,,29.8811345124,0.498854087089,0.385026737968,249039.136886,33.2954792813,,,9.40452261307,160.809917355,
maxs,,1.0,NaN,,80.0,8.0,9.0,3101298.0,512.3292,,,16.0,328.0,
sigma,,0.486055170866,NaN,,14.4134996999,1.0416583906,0.86556027535,442685.317677,51.7586682392,,,4.3574169836,97.696921996,
zeros,,809,0,,0,891,1002,0,17,,,0,0,
missing,1,1,1,1,264,1,1,353,2,1015,3,912,1189,565
0,1,1.0,"Allen, Miss. Elisabeth Walton",female,29.0,0.0,0.0,24160.0,211.3375,B5,S,2.0,nan,"St Louis, MO"
1,1,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781.0,151.55,C22 C26,S,11.0,nan,"Montreal, PQ / Chesterville, ON"
2,1,0.0,"Allison, Miss. Helen Loraine",female,2.0,1.0,2.0,113781.0,151.55,C22 C26,S,nan,nan,"Montreal, PQ / Chesterville, ON"
3,1,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1.0,2.0,113781.0,151.55,C22 C26,S,nan,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1.0,2.0,113781.0,151.55,C22 C26,S,nan,nan,"Montreal, PQ / Chesterville, ON"
5,1,1.0,"Anderson, Mr. Harry",male,48.0,0.0,0.0,19952.0,26.55,E12,S,3.0,nan,"New York, NY"
6,1,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0,1.0,0.0,13502.0,77.9583,D7,S,10.0,nan,"Hudson, NY"
7,1,0.0,"Andrews, Mr. Thomas Jr",male,39.0,0.0,0.0,112050.0,0.0,A36,S,nan,nan,"Belfast, NI"
8,1,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2.0,0.0,11769.0,51.4792,C101,S,nan,nan,"Bayside, Queens, NY"
9,1,0.0,"Artagaveytia, Mr. Ramon",male,71.0,0.0,0.0,nan,49.5042,,C,nan,22.0,"Montevideo, Uruguay"

In [22]:
# Spliting the data set for training and validation
titanic_train, titanic_valid = titanic_data.split_frame(ratios=[0.9])

In [23]:
print(titanic_train.shape)
print(titanic_valid.shape)

(1156, 14)
(154, 14)

# Creating GLM Model

In [24]:
titanic_glm = H2OGeneralizedLinearEstimator(alpha = .25)

In [25]:
titanic_glm.train(x = predictors, y = response, training_frame = titanic_train, validation_frame = titanic_valid)

glm Model Build progress: |███████████████████████████████████████████████| 100%

In [26]:
# print the mse for the validation data
print "mse: ", titanic_glm.mse(valid=True)
print "r2 : ", titanic_glm.r2(valid=True)
print "rmse:", titanic_glm.rmse(valid=True)

# Note: Look for titanic_glm.[TAB] for the values you are interested into

mse:  0.149942946231
r2 :  0.346915167529
rmse: 0.387224671516

# Adding Grid Search now

In [27]:
# grid over `alpha`
# import Grid Search
from h2o.grid.grid_search import H2OGridSearch

In [28]:
# select the values for `alpha` to grid over
hyper_params = {'alpha': [0, .25, .5, .75, .1]}

In [29]:
# this example uses cartesian grid search because the search space is small
# and we want to see the performance of all models. For a larger search space use
# random grid search instead: {'strategy': "RandomDiscrete"}
# initialize the GLM estimator
titanic_glm_hype = H2OGeneralizedLinearEstimator()

In [31]:
# build grid search with previously made GLM and hyperparameters
titanitc_grid = H2OGridSearch(model = titanic_glm_hype, hyper_params = hyper_params,
                     search_criteria = {'strategy': "Cartesian"})

In [32]:
# train using the grid
titanitc_grid.train(x = predictors, y = response, training_frame = titanic_train, validation_frame = titanic_valid)

glm Grid Build progress: |████████████████████████████████████████████████| 100%

In [33]:
# sort the grid models by mse
titanic_sorted_grid = titanitc_grid.get_grid(sort_by='mse', decreasing=False)
print(titanic_sorted_grid)

      alpha                                                       model_ids  \
0     [0.1]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_4
1    [0.25]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_1
2     [0.5]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_2
3    [0.75]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_3
4     [0.0]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_0

                   mse
0  0.14993836274486108
1  0.14994294623059257
2  0.14994549052889863
3  0.14995052526518768
4  0.14995613421393472

In [34]:
# If you want to sort by r2 then try this
titanic_sorted_grid = titanitc_grid.get_grid(sort_by='r2', decreasing=False)
print(titanic_sorted_grid)

      alpha                                                       model_ids  \
0     [0.0]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_0
1    [0.75]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_3
2     [0.5]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_2
3    [0.25]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_1
4     [0.1]  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1088_model_4

                    r2
0  0.34685772653486224
1  0.34688215662273825
2  0.34690408569635267
3  0.34691516752897467
4   0.3469351311557163

# Adding multiple hyperparameters

In [35]:
# Now adding alpha and lambda together
hyper_params = {'alpha': [0, .25, .5, .75, .1], 'lambda': [0, .1, .01, .001, .0001]}

In [36]:
titanic_glm_hype = H2OGeneralizedLinearEstimator()
titanitc_grid = H2OGridSearch(model = titanic_glm_hype, hyper_params = hyper_params,
                     search_criteria = {'strategy': "Cartesian"})
titanitc_grid.train(x = predictors, y = response, training_frame = titanic_train, validation_frame = titanic_valid)

glm Grid Build progress: |████████████████████████████████████████████████| 100%

In [37]:
# If you want to sort by r2 then try this
titanic_sorted_grid = titanitc_grid.get_grid(sort_by='r2', decreasing=False)
print(titanic_sorted_grid)

       alpha    lambda  \
0     [0.75]     [0.1]
1      [0.5]     [0.1]
2     [0.25]     [0.1]
3      [0.1]     [0.1]
4      [0.0]     [0.1]
5     [0.75]    [0.01]
6      [0.5]    [0.01]
7     [0.25]    [0.01]
8      [0.0]    [0.01]
9      [0.1]  [1.0E-4]
10     [0.0]     [0.0]
11    [0.75]     [0.0]
12     [0.5]     [0.0]
13    [0.25]     [0.0]
14     [0.1]     [0.0]
15     [0.0]  [1.0E-4]
16     [0.0]   [0.001]
17    [0.25]  [1.0E-4]
18     [0.5]  [1.0E-4]
19    [0.75]  [1.0E-4]
20     [0.1]   [0.001]
21    [0.25]   [0.001]
22     [0.1]    [0.01]
23     [0.5]   [0.001]
24    [0.75]   [0.001]

                                                          model_ids  \
0    Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_8
1    Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_7
2    Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_6
3    Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_9
4    Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_5
5   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_13
6   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_12
7   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_11
8   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_10
9   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_24
10   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_0
11   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_3
12   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_2
13   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_1
14   Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_4
15  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_20
16  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_15
17  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_21
18  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_22
19  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_23
20  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_19
21  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_16
22  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_14
23  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_17
24  Grid_GLM_py_6_sid_b902_model_python_1487818417976_1089_model_18

                     r2
0   0.17340060750552666
1   0.21947495214189106
2   0.27826184745200233
3   0.31612263374008776
4    0.3362100548223934
5   0.33873650399821076
6   0.34309888569621594
7    0.3455853800112235
8    0.3467672925804436
9    0.3468451959241814
10  0.34685627909689654
11  0.34685627909689654
12  0.34685627909689654
13  0.34685627909689654
14  0.34685627909689654
15  0.34685744882255787
16   0.3468659523065314
17  0.34687135489289345
18   0.3468849816781836
19  0.34691413715767005
20  0.34691698782398883
21   0.3469358316603045
22   0.3469396157625466
23   0.3469760952258367
24   0.3470052586525091